* {

    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
}


#tasks-div {

    background-color: maroon;
    color: honeydew;

}


#new-task-button {

    border-radius: 25%;

    width: 15vw;
    height: 10vh;
}

.task-element {

    padding-top: 4vh;
    padding-bottom: 4vh;
    border: 1px solid gold;
    display: flex;
    justify-content: space-between;
}

.description-div {
    width: 10vw;
    word-wrap: break-word;
}

.due-date-field {
    height: 10%;
    border: 0.3rem solid goldenrod;
}

.priority-dropdown {
    height: 10%;
    border: 0.3rem solid goldenrod;


}
.hide-button {
    height: 10%;
    border: 0.3rem solid goldenrod;

    background-color: aqua;
}

.delete-button {
    height: 10%;
    background-color: indigo;
    border: 0.3rem solid red;
    color: honeydew ;

    margin-right: 10%;
}