* {

    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
}


#tasks-div {

    background-color: maroon;

}


#new-task-button {

    border-radius: 25%;

    width: 15vw;
    height: 10vh;
}

.task-element {

    border: 1px solid gold;
}

#description-div {

    width: 100%
}

.due-date-field {


}

.priority-dropdown {

    
}
.hide-button {

    background-color: aqua;
}